{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <form>
        <div class="form-group">
          <fieldset>

            <legend>
              <h1 class="heading-large">
                What would you like to subscribe to?
              </h1>
            </legend>

            <div class="multiple-choice" data-target="contact-by-email">
              <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
              <label for="example-contact-by-email">Updates to a specific country or territory</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
              <label class="form-label" for="contact-email">Search for a country or territory</label>
              <div id="my-autocomplete-container">
                <input class="form-control" name="contact-email" type="text" id="contact-email">
              </div>
              <br>
              <p>Based on your selection, you might also want to follow updates on the following countries:</p>
              <ul class="list">
                <li><a href="#">Denmark</a></li>
                <li><a href="#">Norway</a></li>
                <li><a href="#">Sweden</a></li>
                <li><a href="#">Finland</a></li>
                <li><a href="">Search for another</a></li>
              </ul>
            </div>
            <div class="multiple-choice" data-target="contact-by-text">
              <input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
              <label for="example-contact-by-text">Updates to all countries and territories</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
              <p>You'll get an email each time a country is updated. You could get around 50 emails a week.</p>
            </div>

          </fieldset>
        </div>
        <input class="button" type="submit" value="Continue">
      </form>
    </div>
  </div>
</main>

{% endblock %}
