{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <form>
        <div class="form-group">
          <fieldset>

            <legend>
              <h1 class="heading-large">
                What would you like to subscribe to?
              </h1>
            </legend>

            <div class="multiple-choice" data-target="contact-by-email">
              <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
              <label for="example-contact-by-email">Updates to a specific country</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
              <label class="form-label" for="contact-email">Select your country</label>
              <div id="my-autocomplete-container">

                <select id="countries" name="countries">
                  <option value="" selected>Please select a country</option>
                  <option value="Great Britain">Great Britain</option>
                  <option value="France">France</option>
                </select>
              </div>
              <p><a href="">Add another country</a></p>
            </div>

            <div class="multiple-choice" data-target="contact-by-text">
              <input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
              <label for="example-contact-by-text">Updates to all countries</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
              <p>Subscribing to updates to all countries means you will get an email every time information about a country is updated, so you'll get about 50 emails every week.</p>
            </div>

          </fieldset>
        </div>
        <input class="button" type="submit" value="Continue">
      </form>
    </div>
  </div>
</main>

{% endblock %}

{% block page_scripts %}
<script>
  govukGovernmentOrganisationsAutocomplete({
    selectElement: document.getElementById('countries'),
    showAllValues: false,
    minLength: 2,
    defaultValue: ''
  })
</script>
{% endblock %}
